BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 222
PointerAlignment: Left
SortIncludes: Never
ReflowComments: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Always